<h2 id="{{ section_id }}"> {{ title }} </h2>
<div class="card{% if not has_context %} no-context{% endif %}">
  <div class="model-header-row">
    {% if has_context %}
    <div class="model-header">
      Context
    </div>
    {% endif %}
    <div class="model-header">
      Target
    </div>
    <div class="model-header">
      {{ baseline_name }}
    </div>
    <div class="model-header">
      {{ candidate_name }}
    </div>
  </div>

{% for block in pair_blocks %}
  {{ block|safe }}
{% endfor %}

</div>